<!DOCTYPE html>
<html>

<head>

    <title>NGO Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="bg-light">

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-success">

<div class="container">

<a class="navbar-brand fw-bold" href="/">
🍽 Smart Food Rescue Network
</a>

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="/ngo">Dashboard</a>
</li>

<li class="nav-item">
<a class="nav-link text-warning" href="/logout">Logout</a>
</li>

</ul>

</div>

</nav>

<div class="container mt-5">

<h2 class="text-center text-success mb-4">
NGO Dashboard
</h2>

<!-- Search -->

<div class="card shadow mb-4">

<div class="card-body">

<form method="POST">

<div class="row">

<div class="col-md-10">

<input
type="text"
name="location"
class="form-control"
placeholder="Search by Location">

</div>

<div class="col-md-2">

<button class="btn btn-success w-100">

Search

</button>

</div>

</div>

</form>

</div>

</div>

<!-- Donation Table -->

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Food</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Donor</th>
            <th>Status</th>
            <th>Action</th>
            <th>Date & Time</th>
        </tr>
    </thead>

    <tbody>

    {% for donation in donations %}
    <tr>

        <td>{{ donation.id }}</td>

        <td>{{ donation.food_name }}</td>

        <td>{{ donation.quantity }}</td>

        <td>{{ donation.location }}</td>

        <td>{{ donation.donor }}</td>

        <td>
            {% if donation.status %}
                {{ donation.status }}
            {% else %}
                Pending
            {% endif %}
        </td>

        <td>
            {% if donation.status == "Pending" %}
            <a href="/accept/{{donation.id}}" 
               class="btn btn-success btn-sm">
               Accept
            </a>
            {% else %}
               —
            {% endif %}
        </td>

        <td>
            {% if donation.created_at %}
                {{ donation.created_at }}
            {% else %}
                —
            {% endif %}
        </td>

    </tr>

    {% endfor %}

    </tbody>
</table>
</div>

</div>

</div>

</body>

</html>